* {
    box-sizing: border-box;
    background-color: rgb(172, 176, 228);
    font-family: 'Martel', serif;
}

.body {
    position: relative;
}

h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.card {
    border: solid black 1px;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.avatar {
    border: 1px solid black;
    border-radius: 8px;
    margin-right: 1rem;
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 15px 10px;
}

.modal .avatar {
    margin-top: 1rem;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden{ 
    display: none;
}
