* {
    box-sizing: border-box;
    background-color: rgb(236, 235, 235);
}

.body {
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.card {
    border: solid black 1px;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
